# REACT_APP_BUILD_DATE=
# REACT_APP_API_URL=http://35.169.36.31:8000/api
# REACT_APP_MODEL_URL=http://35.169.36.31:8081

REACT_APP_BUILD_DATE=
REACT_APP_API_URL=http://localhost:11003/api
REACT_APP_MODEL_URL=http://localhost:11003